/* ComparisonPage.css */
@media print {
    /* Hide the specific grid container from print */
    div.MuiFormControl-root {
        display: none; /* Hide this class in print */
    }
    .MuiGrid-item {
        display: flex; /* Ensure items are flex containers */
        flex-direction: row; /* Align items in a row */
        justify-content: space-between; /* Space items evenly */
        page-break-inside: avoid; /* Avoid breaking rows between pages */
    }

    .MuiGrid-item img {
        width: 100%; /* Force images to take full width */
        max-width: 100%; /* Ensure images are responsive */
    }

    .print-block {
        display: block; /* Ensure each block is displayed as a block element */
        page-break-after: always; /* Force a page break after each block */
    }

    .exterior, .interior {
        margin: 0; /* Reset margin if necessary */
        padding: 10px; /* Add padding if needed */
    }
}

.left-aligned-img {
    max-width: 80%;
    display: block;
    margin-left: 0;
}